accelerate @ git+https://github.com/huggingface/accelerate.git@68376babd822e9a5f8633e66d8258dea909a7df8
aider-chat==0.24.1
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.6.0
anyio==4.2.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope==0.1.3
appscript==1.2.2
argilla==1.7.0
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1666850774529/work
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.2.0
aws-cdk-lib==2.114.1
aws-cdk.asset-awscli-v1==2.2.201
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v6==2.0.1
aws-cdk.assets==1.204.0
aws-cdk.aws-acmpca==1.204.0
aws-cdk.aws-apigateway==1.204.0
aws-cdk.aws-applicationautoscaling==1.204.0
aws-cdk.aws-autoscaling==1.204.0
aws-cdk.aws-autoscaling-common==1.204.0
aws-cdk.aws-autoscaling-hooktargets==1.204.0
aws-cdk.aws-batch==1.204.0
aws-cdk.aws-certificatemanager==1.204.0
aws-cdk.aws-cloudformation==1.204.0
aws-cdk.aws-cloudfront==1.204.0
aws-cdk.aws-cloudwatch==1.204.0
aws-cdk.aws-codeguruprofiler==1.204.0
aws-cdk.aws-codestarnotifications==1.204.0
aws-cdk.aws-cognito==1.204.0
aws-cdk.aws-ec2==1.204.0
aws-cdk.aws-ecr==1.204.0
aws-cdk.aws-ecr-assets==1.204.0
aws-cdk.aws-ecs==1.204.0
aws-cdk.aws-efs==1.204.0
aws-cdk.aws-elasticloadbalancing==1.204.0
aws-cdk.aws-elasticloadbalancingv2==1.204.0
aws-cdk.aws-events==1.204.0
aws-cdk.aws-globalaccelerator==1.204.0
aws-cdk.aws-iam==1.204.0
aws-cdk.aws-kms==1.204.0
aws-cdk.aws-lambda==1.204.0
aws-cdk.aws-logs==1.204.0
aws-cdk.aws-route53==1.204.0
aws-cdk.aws-route53-targets==1.204.0
aws-cdk.aws-s3==1.204.0
aws-cdk.aws-s3-assets==1.204.0
aws-cdk.aws-sam==1.204.0
aws-cdk.aws-secretsmanager==1.204.0
aws-cdk.aws-servicediscovery==1.204.0
aws-cdk.aws-signer==1.204.0
aws-cdk.aws-sns==1.204.0
aws-cdk.aws-sns-subscriptions==1.204.0
aws-cdk.aws-sqs==1.204.0
aws-cdk.aws-ssm==1.204.0
aws-cdk.aws-stepfunctions==1.204.0
aws-cdk.cloud-assembly-schema==1.204.0
aws-cdk.core==1.204.0
aws-cdk.custom-resources==1.204.0
aws-cdk.cx-api==1.204.0
aws-cdk.region-info==1.204.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
bioservices==1.11.2
bitsandbytes==0.39.0
black==23.3.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blinker==1.6.2
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1668499251641/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1677499911949/work
boto3==1.28.35
botocore==1.31.35
bravado==11.0.3
bravado-core==6.1.0
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764961872/work
cachetools==5.3.0
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1666891909163/work
cattrs==23.1.2
cchardet==2.1.7
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chromadb==0.3.25
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
clickhouse-connect==0.5.25
cloudpickle==2.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorlog==6.7.0
colour==0.1.5
comm==0.1.3
commonmark==0.9.1
conda==23.3.1
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1669733752472/work
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1673621582314/work
ConfigArgParse==1.7
constructs==10.0.93
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633784416/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1679811334974/work
cssselect==1.2.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1666909806949/work
Cython==3.0.5
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dataclasses-json==0.5.7
datasets==2.12.0
debugpy==1.6.7
decorator==5.1.1
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.13
detect-secrets==1.4.0
diff-match-patch==20230430
dill==0.3.6
diskcache==5.6.3
distlib==0.3.6
distro==1.9.0
docarray==0.32.1
docker-pycreds==0.4.0
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.16.7
dtreeviz==2.2.1
duckdb==0.8.0
easydev==0.12.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
exceptiongroup==1.1.1
execnb==0.1.5
executing==1.2.0
faiss-cpu==1.7.4
Farama-Notifications==0.0.4
fastai==2.7.12
fastapi==0.95.0
fastbook==0.0.29
fastcore @ file:///home/conda/feedstock_root/build_artifacts/fastcore_1680074857612/work
fastdownload @ file:///home/conda/feedstock_root/build_artifacts/fastdownload_1675782504990/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1677336799617/work/dist
fastprogress @ file:///home/conda/feedstock_root/build_artifacts/fastprogress_1658690818839/work
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.11.0
filetype==1.2.0
fire==0.5.0
Flask==2.3.2
flatbuffers==23.5.9
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1680021372870/work
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gdown==4.7.1
gevent==22.10.2
ghapi==1.0.3
gitdb==4.0.11
GitPython==3.1.40
glfw==2.6.2
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.19.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
gradio==3.25.0
gradio_client==0.1.0
graphviz==0.20.1
greenlet==3.0.3
grep-ast==0.2.4
grequests==0.7.0
grpcio==1.60.1
grpcio-status==1.60.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h11==0.14.0
h2==3.2.0
hanzidentifier==1.1.0
hnswlib==0.7.0
hpack==3.0.0
hstspreload==2023.1.1
html2text==2020.1.16
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httptools==0.5.0
httpx==0.26.0
huggingface-hub==0.17.3
humanfriendly==10.0
hyperframe==5.2.0
idna==3.6
imageio==2.32.0
importlib-metadata==7.0.1
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
iniconfig==2.0.0
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==7.7.5
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsii==1.93.0
json5==0.9.11
jsonlines==3.1.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1632759296524/work
jsonpointer==2.0
jsonref==1.1.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1676473377907/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1665516105532/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1678994447003/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets==1.1.4
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1680275157923/work
kaggle==1.5.13
kaggle-environments==1.14.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805932507/work
langchain==0.0.178
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680002565622/work/libmambapy
linkify-it-py==2.0.0
litellm==1.20.1
llama-cpp-python==0.1.54
llama-index==0.6.10.post1
llvmlite==0.42.0
loralib==0.1.1
lxml==4.9.2
lz4==4.3.2
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680002565622/work/mamba
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1674135864373/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1678135628784/work
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1675771498296/work
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1672339490028/work
multiprocess==0.70.14
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1666946235028/work
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1680676954923/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1681137024412/work
nbdev==2.3.12
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1679336765223/work
neptune==1.6.1
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.2.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.59.0
numexpr==2.8.4
numpy==1.26.3
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.15.0
openai==1.6.1
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
openapi-schema-pydantic==1.2.4
openpyxl @ file:///Users/runner/miniforge3/conda-bld/openpyxl_1682610931327/work
orjson==3.8.10
overrides==7.3.1
packaging==23.2
pandas==1.5.3
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1682984395684/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.8.3
pathspec==0.12.1
pathtools==0.1.2
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1670689864140/work
pdf2image==1.16.3
pdfminer.six==20221105
peft @ git+https://github.com/huggingface/peft.git@3714aa2fff158fdfa637b2b65952580801d890b2
pettingzoo==1.24.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1679871349196/work
playwright==1.41.2
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1680731398751/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
posthog==3.0.1
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1666991296677/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1674535637125/work
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.21.12
psutil==5.9.4
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
publication==0.0.3
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybiomart==0.2.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1666836580084/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pyee==11.0.1
Pygments==2.17.2
PyJWT==2.8.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pypandoc==1.12
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1672681536809/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.3.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
python-slugify==8.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML==6.0.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1679317044518/work
referencing==0.32.0
regex==2023.12.25
requests==2.31.0
requests-cache==1.1.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3987==1.3.8
rich==13.7.0
rpds-py==0.16.2
rsa==4.9
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1678273079927/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412871362/work
s3transfer==0.6.2
safetensors==0.3.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1679676035492/work
scipy==1.11.4
semantic-version==2.10.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1682715776378/work
setproctitle @ file:///Users/runner/miniforge3/conda-bld/setproctitle_1666817095633/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
Shimmy==1.3.0
simplejson==3.19.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post5
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap==5.0.1
snakeviz==2.2.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1678735630590/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1672303484730/work
SQLAlchemy==2.0.15
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1677657524966/work
stable-baselines3==2.1.0
stack-data==0.6.2
starlette==0.26.1
suds-community==1.1.2
swagger-spec-validator==3.0.3
sympy==1.12
tabulate==0.9.0
talon @ git+https://github.com/mailgun/talon/@71d9b6eb78e985bcdfbf99b69c20c001b4b818c4
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
termcolor==2.3.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
text-unidecode==1.3
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1678302816515/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tiktoken==0.5.2
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tokenize-rt==5.0.0
tokenizers==0.14.1
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1675740388473/work
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision-split_1678319037320/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1666788663535/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers==4.34.1
tree-sitter==0.20.4
tree-sitter-languages==1.9.1
typeguard==2.13.3
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1667832226065/work
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1680176259362/work
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing-inspect==0.8.0
typing_extensions==4.9.0
uc-micro-py==1.0.1
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239910854/work
unoserver==1.4
unstructured @ git+https://github.com/Unstructured-IO/unstructured.git@5f5da65e0b052380a0b1447685438f01a26872d3
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.1.0
uvicorn==0.21.1
uvloop==0.17.0
vec-noise==1.1.4
virtualenv==20.23.0
voila @ file:///home/conda/feedstock_root/build_artifacts/voila_1666857016523/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1683060422086/work
wasabi @ file:///Users/runner/miniforge3/conda-bld/wasabi_1673946101763/work
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1675567828044/work
websockets==11.0.1
Werkzeug==2.3.6
whisper==1.1.10
widgetsnbextension==3.6.4
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.1.1
xmltodict==0.13.0
xxhash==3.2.0
yarl==1.8.2
zhon==1.1.5
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
zope.event==5.0
zope.interface==6.0
zstandard==0.19.0
