<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypapers.ai</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-5">mypapers.ai: Coming Soon</h1>
        <ul>

            <li class="mb-4">Follow the journey on <a href="https://x.com/pol_avec" class="text-blue-400">Twitter</a>
            </li>
            <li>
                Check out the code on <a href="https://github.com/kafkasl/mypapers.ai" class="text-blue-400">GitHub</a>.
            </li>
        </ul>
    </div>
</body>

</html>