<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MVESGM9D3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-3MVESGM9D3');
    </script>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <!--     <script src="https://unpkg.com/cytoscape-cose-bilkent/cytoscape-cose-bilkent.js"></script>-->
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypapers.ai</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="bg-white text-gray-900 flex h-screen">
    <div id="loading" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
        <svg class="animate-spin h-12 w-12 text-blue-900" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>
    <div id="cy" class="w-3/4 h-full"></div>
    <div class="absolute top-0 left-0 p-4">
        <h1 class="text-4xl font-bold mb-1 text-gray-900">mypapers.ai</h1>
        <h3 class="text-xl text-blue-500">alpha version</h3>
    </div>
    <div class="w-1/4 h-full bg-gray-900 overflow-y-auto p-4 flex flex-col">

        <div id="info" class="p-4 bg-white shadow-lg rounded-lg mb-4">
            Click on a node to see more information here.
        </div>
        <div class="toggle-buttons" style="display: none;">
            <button id="togglePapers" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Toggle Papers</button>
            <button id="toggleAuthors" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Toggle Authors</button>
        </div>
        <div class="mt-auto">
            <div class="text-left text-white mb-4">
                <ul>
                    <li class="mb-4">Follow the journey on <a href="https://x.com/pol_avec" class="text-blue-400"
                            target="_blank" rel="noopener noreferrer">X</a>
                    </li>
                    <li>Check out the code on <a href="https://github.com/kafkasl/mypapers.ai" target="_blank"
                            rel="noopener noreferrer" class="text-blue-400">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="dateInfo" class="fixed bottom-0 left-0 p-4 text-gray-700">
        <!-- Content will be set by JavaScript -->
    </div>
    </div>
    <script>

        const API_URL = "{{ api_url }}";
        console.log(API_URL);

        let maxIncomingReferences = 0;
        const nodeScalingFactor = 20;
        const labelPercentile = 0.50;
        const byDate = true;
        const today = new Date();
        const yesterday = new Date(today.setDate(today.getDate() - 2));
        const formattedDate = yesterday.toISOString().split('T')[0].replace(/-/g, '');

        const layoutOptions = {
                    name: 'fcose',
                    nodeDimensionsIncludeLabels: true,
                    nodeRepulsion: 10000,
                    idealEdgeLength: 100,
                    edgeElasticity: 0.45,
                    // nestingFactor: 0.1,
                    // gravity: 0.25,
                    // numIter: 2500,
                    // tile: true,
                    // animate: 'end',
                };

        async function fetchData() {
            if (byDate) {
                body = JSON.stringify({
                    query: `{
                        getPapersByDate(date: "${formattedDate}") {
                            papers { id title publicationDate summary incomingReferencesCount references authors source }
                        }
                    }`})
            }  else {
                body = JSON.stringify({
                    query: `{
                        getAllData {
                            papers { id title publicationDate summary incomingReferencesCount references authors source }
                        }
                    }`
                })
            }
            const response = await fetch(API_URL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            });
            const data = await response.json();
            if (byDate) {
                return data.data.getPapersByDate;
            } else {
                return data.data.getAllData;
            }
        }

        function formatDate(dateStr) {
            const year = dateStr.substring(0, 4);
            const month = dateStr.substring(4, 6);
            const day = dateStr.substring(6, 8);

            const date = new Date(`${year}-${month}-${day}`);
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString('en-US', options);
        }


        function processGraphData(data) {
            const elements = []; 
            const visiblePapers = new Set();
            const minReferences = 0;
            const showAuthors = false;
            // console.log('typeof papers ', typeof(data.papers));
            // data.papers.forEach(paper => {
            //     // print debug
            //     // console.log(paper.id, paper.title, paper.incomingReferencesCount);
            //     if (paper.incomingReferencesCount >= minReferences) {
            //         elements.push({ 
            //             data: { 
            //                 id: paper.id, 
            //                 label: paper.title, 
            //                 type: 'paper', 
            //                 publicationDate: paper.publicationDate,
            //                 summary: paper.summary,
            //                 source: paper.source,
            //                 incomingReferencesCount: paper.incomingReferencesCount 
            //             }
            //         });
            //         // visiblePapers.add(paper.id);
            //     }
            // });

            console.log(data.papers);
            // Step 1: Render all papers as nodes
            data.papers.forEach(paper => {
                if (paper.incomingReferencesCount > maxIncomingReferences) {
                    maxIncomingReferences = paper.incomingReferencesCount;
                }
                elements.push({
                    data: {
                        id: paper.id,
                        label: paper.title,
                        type: 'paper',
                        publicationDate: paper.publicationDate,
                        summary: paper.summary,
                        source: paper.source,
                        incomingReferencesCount: paper.incomingReferencesCount,
                    }
                });
            });

            console.log('maxIncomingReferences', maxIncomingReferences);

            

            if (showAuthors) {
                // Step 2: Render all authors as nodes
                const authorSet = new Set(); // To avoid duplicate author nodes
                data.papers.forEach(paper => {
                    paper.authors.forEach(author => {
                        const authorId = 'author-' + author.replace(/\s+/g, '-');
                        if (!authorSet.has(authorId)) {
                            elements.push({
                                data: {
                                    id: authorId,
                                    label: author,
                                    type: 'author'
                                }
                            });
                            authorSet.add(authorId);
                        }
                    });
                });
            }

            // Step 3: Render all the reference edges and authorship edges
            data.papers.forEach(paper => {
                // Reference edges
                // if references is null continue
                if (paper.references) {  
                    paper.references.forEach(refId => {
                        elements.push({
                            data: {
                                source: paper.id,
                                target: refId,
                                label: 'references'
                            }
                        });
                    });
                }

                // Authorship edges
                if (showAuthors) {
                    paper.authors.forEach(author => {
                        const authorId = 'author-' + author.replace(/\s+/g, '-');
                        elements.push({
                            data: {
                                source: authorId,
                                target: paper.id,
                                label: 'author_of'
                            }
                        });
                    });
                }
            });

            return elements;
        }

        async function initializeGraph() {
            const data = await fetchData();
            const elements = processGraphData(data);

            var cy = cytoscape({
                container: document.getElementById('cy'),
                elements: elements,
                style: [
                    {
                        selector: 'node',
                        style: {
                            'text-valign': 'center',
                            'text-outline-width': 2,
                            'text-outline-color': 'white',
                            'font-size': '12px',
                            'text-wrap': 'ellipsis',
                            'text-max-width': '60px'
                        }
                    },{
                        selector: 'node[type="paper"]',
                        style: {
                            'label': function(node) {
                                if (node.data('incomingReferencesCount')/maxIncomingReferences >= labelPercentile) {
                                    return node.data('label');
                                } else {
                                    return '';
                                }
                            },
                            'background-color': '#003366',
                            'width': function(node) {
                                return nodeScalingFactor * (node.data('incomingReferencesCount') / maxIncomingReferences);
                            },
                            'height': function(node) {
                                return nodeScalingFactor * (node.data('incomingReferencesCount') / maxIncomingReferences);
                            },
                            // 'opacity': function(node) {
                            //     return node.data('incomingReferencesCount') / maxIncomingReferences;
                            // }

                        }
                    },
                    {
                        selector: 'node[type="author"]',
                        style: {
                            'background-color': '#89CFF0',
                            'display': 'none'
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'curve-style': 'bezier',
                            'width': 1,
                            'line-color': '#D3D3D3',
                            'target-arrow-color': '#D3D3D3',
                            'arrow-scale': 0.5,
                            // 'opacity': function(edge) {
                            //     var sourceNode = edge.source();
                            //     var targetNode = edge.target();
                            //     var maxDegree =  sourceNode.data('incomingReferencesCount') +   targetNode.data('incomingReferencesCount');
                            //     return Math.max(0.5, maxDegree / maxIncomingReferences);
                            // }
                        }
                    }
                ],
                layout: layoutOptions
            });

            cy.fit();

            cy.on('render', () => {
                document.getElementById('loading').style.display = 'none';
            });

            cy.on('tap', 'node', function (evt) {
                var node = evt.target;
                var nodeType = node.data('type');
                var infoContent = '';
                const arxivLink = node.data('source');
                const paperId = arxivLink.match(/(\d+\.\d+)/)[0];
                const talkLink = `https://talk2arxiv.org/pdf/${paperId}.pdf`;


                if (nodeType === 'paper') {
                    infoContent = `
                        <h2 class="text-2xl font-bold text-gray-800 mb-4">Paper</h2>
                        <p class="text-gray-700 mb-2"><strong>Title:</strong> ${node.data('label')}</p>
                        <p class="text-gray-700 mb-2"><strong>Publication Date:</strong> ${formatDate(node.data('publicationDate'))}</p>
                        <p class="text-gray-700 mb-2"><strong>Summary:</strong> ${node.data('summary')}</p>
                        <p class="text-gray-700 mb-2"><strong>Link:</strong><a target="_blank" rel="noopener noreferrer" href="${arxivLink}" class="text-blue-500 hover:text-blue-700"> Read paper</a>, <a href="${talkLink}" class="text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">Talk to the paper</a></p>
                    `;
                } else if (nodeType === 'author') {
                    infoContent = `
                        <h2 class="text-2xl font-bold text-gray-800 mb-4">Author</h2>
                        <p class="text-gray-700"><strong>Name:</strong> ${node.data('label')}</p>
                    `;
                }

                document.getElementById('info').innerHTML = infoContent;
            });
            
            function toggleVisibility(nodeType) {
                var nodes = cy.nodes(`[type="${nodeType}"]`);
                nodes.forEach(node => {
                    node.style('display', node.style('display') === 'none' ? 'element' : 'none');
                });
                cy.layout(layoutOptions).run();
                cy.fit();

            }
            document.getElementById('togglePapers').addEventListener('click', function() {
                toggleVisibility('paper');
            });
    
            document.getElementById('toggleAuthors').addEventListener('click', function() {
                toggleVisibility('author');
            });

            // Set the date info content
            const dateInfoDiv = document.getElementById('dateInfo');
            if (byDate) {
                dateInfoDiv.textContent = `Displaying papers from ${formatDate(formattedDate)} and their references`;
            } else {
                dateInfoDiv.textContent = "Displaying all papers";
            }
        }


        initializeGraph();
    </script>



    <!-- begin olark code -->
    <script type="text/javascript" async>
        ; (function (o, l, a, r, k, y) {
            if (o.olark) return;
            r = "script"; y = l.createElement(r); r = l.getElementsByTagName(r)[0];
            y.async = 1; y.src = "//" + a; r.parentNode.insertBefore(y, r);
            y = o.olark = function () { k.s.push(arguments); k.t.push(+new Date) };
            y.extend = function (i, j) { y("extend", i, j) };
            y.identify = function (i) { y("identify", k.i = i) };
            y.configure = function (i, j) { y("configure", i, j); k.c[i] = j };
            k = y._ = { s: [], t: [+new Date], c: {}, l: a };
        })(window, document, "static.olark.com/jsclient/loader.js");/* custom configuration goes here (www.olark.com/documentation) */olark.identify('6674-726-10-8637');</script>
    <!-- end olark code -->
</body>

</html>
</html>
</html>
</html>